h1{
    text-align:center;
    text-shadow: 2px 2px #cdd3ce;
    color:rgb(23, 62, 33);
}

h2{
    text-align:center;
    padding: 30px;
    color:#3cc235;
}

p{
    text-align:center;
    color:#ff0000;
}